<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.0.0"
           xsi:schemaLocation="http://camel.apache.org/schema/blueprint
           http://camel.apache.org/schema/blueprint/camel-blueprint-2.12.2.xsd">


    <cm:property-placeholder    persistent-id="fabric.demo.jetty">
        <cm:default-properties>
            <cm:property name="port" value="9091"/>
            <cm:property name="suffix" value="work.com"/>
        </cm:default-properties>
    </cm:property-placeholder>

    <camelContext xmlns="http://camel.apache.org/schema/blueprint" streamCache="true">
        <route>
            <from uri="fabric:demo:jetty:http://localhost:{{port}}"/>
            <transform>
                <simple>${in.body}@{{suffix}}</simple>
            </transform>
            <log message="Created ${body} "/>
        </route>
    </camelContext>


</blueprint>
