<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
       http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">


    <camelContext xmlns="http://camel.apache.org/schema/spring">
        <route>
            <from uri="file:./target/scala-2.10/classes/camel/in"/>
            <log message="Received file: ${body}"/>
        </route>
    </camelContext>
</beans>