<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="demo"/>

    <camelContext xmlns="http://camel.apache.org/schema/spring">
        <route>
            <from uri="file:/tmp/camel/in1"/>
            <convertBodyTo type="org.w3c.dom.Document"/>
            <to uri="bean:sampleBean"/>
            <!-- <to uri="file:./target/classes/camel/out"/> -->
        </route>
    </camelContext>





</beans>