<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  	    http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">


    <camelContext xmlns="http://camel.apache.org/schema/spring">
       <routeBuilder ref="sampleAggregatorScala"/>
    </camelContext>

    <bean id="sampleAggregatorScala" class="aggregator.AggregatorRouterScala"/>

    <bean id="sampleAggregatorJava" class="org.demo.AggregatorRouterJava"/>
</beans>
